{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h5>Currently viewing:</h5>
  <h1 class="text-primary mt-5">{{ playlist.name }}!</h1>
  <p class="lead">&ndash; {{ playlist.description }}</p>

  <a href="/playlists/{{playlist.id}}/add-song" type="submit" class="btn btn-outline-info mt-5">Add A Song To This Playlist!</a>
</div>


<ul>
  All Songs currently in this Playlist:
        <!-- Loops over Songs to find matching song/playlist pairs -->
  {% for x in all_playlist_songs %}
    {% if playlist_id == x.rel_play.id %}

      <li>
        <a href="/songs/{{x.rel_song.id}}" class="text-success">
          {{ x.rel_song.title }}
        </a>        
      </li>

      {% endif %}
  {% endfor %}

</ul>

{% block error %}{% endblock %}
{% endblock %}